fastapi==0.104.1
uvicorn==0.24.0
pydantic
pandas==2.1.3
numpy==1.26.2
joblib==1.3.2
gdown
tensorflow==2.15.0
pillow==10.1.0
scikit-learn==1.3.2
catboost
python-multipart==0.0.6
google-cloud-storage==2.13.0
scikeras
openpyxl==3.1.2